<% include partials/header.ejs %>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>HELLO <%=details%> WELCOME To YOUR PROFILE PAGE </h1>
				<a href="/contact">View your contact page</a><br>
				<a href="/logout">Logout</a>
			</div>
		</div>
	</div>
<% include partials/footer.ejs %>

