<% include partials/header.ejs %>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<marquee><h5>Welcome Users!! To register, use the form below. Click on the Login button if you already have an account..</h5></marquee>
				<h1 style="text-align: center;">Register(New User)</h1>
				<form action="/register" method="POST">
					<div>
						<label>Username:</label>
						<input type="text" name="username" class="form-control" placeholder="Enter Your Username" required="">
					</div>
					<div>
						<label>Email:</label>
						<input type="email" name="email" class="form-control" placeholder="Enter Your Email" required="">
					</div>
					<div>
						<label>Password:</label>
						<input type="textfield" name="password" class="form-control" placeholder="Enter Your password" required="">
					</div>
					<div>
						<label>Confirm Password:</label>
						<input type="text" name="confpassword" class="form-control" placeholder="Confirm Your Password" required="">
					</div><br>
					<div>
						<input type="submit" name="submit" value="Regsiter" class="btn btn-success">
						<a href="/login" class="btn btn-info">Login</a>
					</div>
				</form>
			</div>
		</div>
	</div>
<% include partials/footer.ejs %>

